* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color:  #191F25;
    --primary-font-color: #F8FAFC;
    --secondary-font-color:#7C8FA2;
    --border-color: #262F39;
    --card-color: #1F262E;
    --primary-button-color: #03A5A6;

    --accent-one: #667eea;

}

body{
    background-color: var(--background-color);
    color: var(--primary-font-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}