* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color:  #FFFFFF;
    --secondary-bg-color: #F7F9FB;
    --primary-font-color: #2d3748;
    --secondary-font-color:#a0aec0;
    --border-color: #e2e8f0;
    --card-color: #e8e9ef;
    --primary-button-color: #1c4c69;
    --input-color: #f7fafc;
    --accent-one: #ffff;
    --accent-two: #d4a76a;
    --accent-three: #718096;
    --accent-four: #667eea;

}

body{
    background-color: var(--background-color);
    color: var(--primary-font-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 1em;
}

a {
    color: var(--accent-two);
    text-decoration: underline;
    font-weight: 600;

}

a:hover{
    color: rgba(181, 144, 91, 0.882)
}

.error{
    color: red;
}